.root {
    --button-background-color: #EF233C;
}

.body {
    margin: 0%;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color:
        rgba(112, 112, 112, 1);
}

.cover {
    background-image: linear-gradient(to right, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-bottom: 100px;
}

.cover h1 {
    font-size: 50px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10%;

}

.cover p {
    font-size: 16px;
    color: white;
    padding-left: 10%;

}

.cover a {
    margin-left: 10%;
}

.Button {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 16px 12px;
    width: fit-content;
    background-color: #EF233C;
    border-radius: 5px;
}

video {
    height: 450px;
    width: 456px;
}

.timeline {
    margin-bottom: 100px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
}

.text-class {
    padding: 5%;
}

.donation-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.help-card {
    background: #FEF4F5;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
}

.help-card h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.help-card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-left: 20px;
    margin-right: 50px;

}

.help-card img {
    margin: 20px;
}

.help-card-flex {
    display: flex;
    padding-left: 20%;
    padding-right: 20%;
    justify-content: space-evenly;
}