.root {
    --button-background-color: #EF233C;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: #121212;
}

p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color:rgba(112, 112, 112, 1);
}

.cover {
    background-image: linear-gradient(to right, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-bottom: 100px;
}

.cover h1 {
    font-size: 50px;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 10%;

}

.cover p {
    font-size: 16px;
    color: white;
    padding-left: 10%;

}

.cover a {
    margin-left: 10%;
}

.Button {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    padding: 16px 12px;
    width: fit-content;
    border-radius: 10px;
    background-color: white;
    color: #EF233C;
    border: 2px solid #EF233C;
}
.DonateNowButton{
    background-color: transparent;
    color: #EF233C;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 16px 12px;
    width: fit-content;
    border-radius: 10px;
    border: 2px solid #EF233C;

}
.DonateNowButton:hover{
 
    background-color: #EF233C;
    color: white;
}
video {
    height: 450px;
    width: 456px;
}
.timeline {
    margin-bottom: 100px;
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    justify-content: space-around;
}

.text-class {
    padding: 5%;
}

.donation-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.help-card {
    background: #FEF4F5;
    border-radius: 10px;
    display: flex;
    margin-bottom: 20px;
}

.help-card h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.help-card p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-left: 20px;
    margin-right: 50px;
    margin-bottom: 30px;

}

.help-card img {
margin-top: 30px;
margin-left: 20px;
}

.help-card-flex {
     display: flex; 
    padding-left: 22%;
    padding-right: 22%;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
.dua-images{
    width: 364px;
height: 391px;
border-radius: 10px;
}
.dua{
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-around;
}
.dua img{
    border-radius: 10px;
    border: 2px solid #EF233C;
}
.Zakat-Card{
    background: wihte;
    border-radius: 10px;
    border: 1px solid rgba(217, 217, 217, 1);    ;
    display: flex;
    margin-bottom: 20px;
    padding-bottom: 30px;
}
.Zakat-Card h4{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-left: 20px;
}
.Zakat-Card p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding-left: 20px;
    margin-bottom: 20px;
}
.Zakat-Card a{
    color: #EF233C;
    padding-left: 20px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
text-decoration: underline;

}
.Zakat-Card img{
    width: 364px;
height: 211px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#Zakat{
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 100px;

}
footer{
    background-color: #121212;
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer h1{
    color:rgba(239, 35, 60, 1);
    font-family: 'Poppins';
    font-style: italic;
    font-size: 36px;
}
footer p{
    color: white;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
}
.Zakat-Card a:hover{
    text-decoration: none;
    background-color: #EF233C;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-left: 10px;
    border-radius: 10px;
}
.help-card:hover{
    background-color: antiquewhite;
}
.Button:hover{
    background-color: #EF233C;
    color: white;
    /* border: 2px solid #EF233C; */
}
